extends layout

block content
  //h1= title
  //p #{title}
  //button#savebut(
  //  type='button'
  //)= "Save"
  div#myDiagramDiv
  ul
    li
      div.key-color
        input.key-box(
        type='text'
        value='7. Calculus Sequence (6)'
        )
        div.color-box(
        style='background-color: lightblue;'
        )
    li
      div.key-color
        input.key-box(
        type='text'
        value='8. Intermediate Sequence (9)'
        )
        div.color-box(
        style='background-color: lightgreen;'
        )
    li
      div.key-color
        input.key-box(
        type='text'
        value='9. Proofs Intro Options (3)'
        )
        div.color-box(
        style='background-color: pink;'
        )
    li
      div.key-color
        input.key-box(
        type='text'
        value='10. Real Analysis/Algebraic Structures/Topology (3)'
        )
        div.color-box(
        style='background-color: LemonChiffon;'
        )
    li
      div.key-color
        input.key-box(
        type='text'
        value='11. Upper Level Choices'
        )
        div.color-box(
        style='background-color: orange;'
        )
    li
      div.key-color
        input.key-box(
        type='text'
        value='11. Upper Level Chosen (33)'
        )
        div.color-box(
        style='background-color: tomato;'
        )
    li
      div.key-color
        input.key-box(
        type='text'
        value='13. Mathematics in Context (3)'
        )
        div.color-box(
        style='background-color: plum;'
        )
